.container {
    width: 700px;
    margin: 0 auto;
}

.border {
    border: 2px solid black;
}

.text {
    justify-content: center;
    align-items: center;
}

.height200 {
    height: 200px;
}

.header, .footer {
    height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;
}


.content-left {
    width: 30%;
    margin-right: 5px;
}

.content-right {
    flex-grow: 1;
    flex-direction: column;
}

.post1 {
    height: 50%;
    margin-bottom: 5px;
}

.post2 {
    flex-grow: 1;
}

.text, .content, .content-right {
    display: flex;
}