html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    background: url("../image/bg.png") no-repeat center/cover;
}

.header__top {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item img {
    width: 20px;
}

.nav {
    display: flex;
    column-gap: 23px;
}

.nav__item a {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__menu {
    display: flex;
    align-items: center;
    height: 70px;
    column-gap: 35px;
}

.header__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
    border-left: 2px solid white;
    padding-left: 15px;
}

.header__contact {
    display: flex;
}

.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 19px;
    background-color: #FF7400;
    height: 47px;
    border: none;
    cursor: pointer;
}
.header__title{
    font-weight: normal;
    color: #D67E35;
    margin-top: 203px;
    max-width: 500px;
}

.header__title h2{
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
}
.header__title h1{
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
}
.header__title p{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.header__title p::before, .header__title p::after{
    content: "" ;
    display: block;
    width: 61px;
    height: 2px;
    background-color: #C4C4C4;
}
.header__title p::before{
    margin-right: 10px;
}
.header__title p::after{
    margin-left: 10px;
}

.header__main .header__button{
    margin-top: 35px;
}
.header__main_btn{
    display: flex;
    justify-content: center;
}
.nav__button_mobile{
    display: none;
    width: 30px;
    flex-direction: column;
    row-gap: 4px;
}
.nav__button_mobile div{
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 31px;


}
.content__item{
    width: 349px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);


}
.content__item h3{
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
    text-align: center;
}
.content__item h3 span{
    color: #BC9060;
}
.content__item p{
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
    text-align: center;
}
.content__item img{
    width: 126px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}