body{
    background-color: darksalmon;
}
h3{
    text-align: center;
    font-size: 25px;
}
li{
    color: saddlebrown;
}
.description{
    text-align: justify;
    background-color: #bb6375;
}
.image{
    width: 200px;
    border: 10px solid brown;
    border-radius: 20px;
}
