.wrap{
    width: 1000px;
    border:5px solid lightslategrey;
    padding: 5px;
    margin: 0 auto;
    border-radius: 8px;
    box-sizing: border-box;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    height: 150px;
    width: 100%;
    background: pink;
    margin-bottom: 5px;
}
.content{
    height: 150px;
    column-gap:5px;
    display: flex;
}
.item{
    width: 50%;
    column-gap: 5px;
    background-color: #bb6375;
}


