.container {
    width: 1000px;
    border: 5px solid grey;
    padding: 5px;
    margin: 0 auto;
}

.bg-grey {
    background: lightslategrey;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 70px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    height: 230px;

}

.content-b {
    width: 70%;
    margin-right: 5px;
}

.content-c {
    flex-grow: 1;
}
