.square {
    display: flex;
    flex-direction: row;
    margin: 0 auto 20px;
    padding: 10px;
    width: 500px;
    column-gap: 5px;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 5px;
}
.square__item{
    width: 100px;
    height: 100px;
    background: purple;
    border-radius: 5px;
}
.round {
    display: flex;
    margin: 0 auto 20px;
    width: 500px;
    flex-direction: row;
    column-gap: 5px;
    padding: 10px;
    justify-content: center;
    box-sizing: border-box;
    background: grey;
    border-radius: 5px;
}


.round__item{
    width: 100px;
    height: 100px;
    background: purple;
    border-radius: 50%;
}
